/* 
    Document   : style.css
    Created on : 2013-maj-28, 16:12:19
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #c6c6c6;
    font-family: ‘Lucida Console’, Monaco, monospace;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    display: block;
    height: 32px;
    width: 100%;
    background-color: #d9d9d9;
    z-index: 999;
}
#toolbar a{
    text-decoration: none;
    color: #000;
}
#toolbar .active {
    border-bottom: 3px solid #000;
}

#content {
    z-index: 998;
    position: relative;
    top: 30px;
    display: block;
    padding: 10px;
    background-color: #f5f4f4;
}
#content a{
    text-decoration: none;
    color: #000;
}

#xmlScript {
    position: relative;
    float: left;
    top: 40px;
    left: 20px;
    border-radius: 5px;
}

#alpahScript {
    float: right;
    position: relative;
    top: 40px;
    right: 40px;
    border-radius: 5px;
    width: 450px;
    height: 550px;
}

input[type="text"],
textarea {
    width: 450px;
    height: 550px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 20;
    font-weight: bold;
}